body{
    background-color: #000000;
    color: #ffffff;
}
.pag-inicial{
    text-align: center;
}
.escolha{
    font-size: 40px;
    margin: 50px;
    display: flex;
    justify-content: center;
}
.jogador a{
    color: #e09ce1;
   margin-right: 20px;
   margin-left: 20px;
   text-decoration: none;
}
.espectador a{
   color: #731a76 ; /*#9618a2  #731a76 #e09ce1   */
   margin-right: 20px;
   margin-left: 20px;
   text-decoration: none;
}
.escolha a:hover {
    color: #ffffff;
}
.pag-login{
    text-align: center;
    margin-top: 80px;
    background-image: url(img/fundo\ hack\ rosa.png);
}
