<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="img/aba.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
</head>
<body class="login">

    <div class="pag-cadastro">
        <h1>Cadastre-se</h1>
        <h2>Número de telefone</h2>
        <input type="">
        <h2>Email</h2>
        <input type="">
        <h2>Usuário</h2>
        <input type="">
        <h2>Senha</h2>
        <input type="">
        <h2>Confirmar Senha</h2>
        <input type="">

        <h2></h2>

        <a  href="inicioj.html">
        <input class="styled" type="button" value="Confirmar e Iniciar" /></a>
    </div>
</body>
</html>