<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="static/img/aba.png" type="image/x-icon">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="pag-inicial">
        <img src="static/img/logo.png">
    </div>

    <div class="escolha">
    <div class="jogador">
        <a href="/jogador">Jogador</a>
    </div>
    <div class="espectador">
        <a href="/espectador">Espectador</a>
    </div>
</div>

</body>
</html>