<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="static/img/aba.png" type="image/x-icon">
    <link rel="stylesheet" href="static/style.css">
</head>
<body class="login">

    <div class="pag-login">
        <form action="/verificar-loginj" method="post">
        <h1>VOCÊ ESCOLHEU JOGADOR</h1>
        <div class="erro">
            <h1>Usuário ou senha incorreto(s)</h1>
        </div>
        <h2>Email ou Usuário</h2>
        <input type="text" id='username' name='username' placeholder="Digite seu usuario">
        <h2>Senha</h2>
        <input type="password" id='password' name="password" placeholder="Digite sua senha">
        <h2></h2>
            <input class="styled" type="submit" value="Confirmar" />
    <h2>ou</h2>
    <a href="/cadastroj">Cadastrar-se</a>
        </form>
    </div>
</body>
</html>