<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="static/img/aba.png" type="image/x-icon">
    <link rel="stylesheet" href="static/style.css">
</head>
<body class="login">
    <div class="caixa">
        <form action="/verificar-login" method="post">
            <h2>Login</h2>
            <p>Usuário</p>
            <input type="text" id='username' name='username' placeholder="Digite seu usuario">

            <p>Senha</p>
            <input type="password" id='password' name="password" placeholder="Digite sua senha">
            <br>
            <br>
            <div class="botoes">
                
            <button type="submit">Entrar</button>
        
    </div>
            </form>
    
</body>
</html>